In [1]:
import pandas as pd

In [137]:
pd.options.display.max_columns = None

In [195]:
df = pd.read_json('base/justica_eleitoral/processos-tre-ac/processos-tre-ac_1.json')

In [196]:
df.head(10)

,millisInsercao,dadosBasicos,siglaTribunal,movimento,grau
0,1601915752207,"{'assunto': [{'principal': False, 'codigoNacio...",TRE-AC,"[{'identificadorMovimento': '399179', 'tipoRes...",G2
1,1601915787787,"{'assunto': [{'principal': False, 'codigoNacio...",TRE-AC,"[{'identificadorMovimento': '422485', 'tipoRes...",G2
2,1601915785373,"{'assunto': [{'principal': False, 'codigoNacio...",TRE-AC,"[{'identificadorMovimento': '425961', 'tipoRes...",G2
3,1601915755978,"{'assunto': [{'principal': False, 'codigoNacio...",TRE-AC,"[{'identificadorMovimento': '400029', 'tipoRes...",G2
4,1601915767014,"{'assunto': [{'principal': False, 'codigoNacio...",TRE-AC,"[{'identificadorMovimento': '400406', 'tipoRes...",G2
5,1601915767793,"{'assunto': [{'principal': False, 'codigoNacio...",TRE-AC,"[{'identificadorMovimento': '400646', 'tipoRes...",G2
6,1601915769228,"{'assunto': [{'principal': False, 'codigoNacio...",TRE-AC,"[{'identificadorMovimento': '400448', 'tipoRes...",G2
7,1601915768934,"{'assunto': [{'principal': False, 'codigoNacio...",TRE-AC,"[{'identificadorMovimento': '400461', 'tipoRes...",G2
8,1601915772313,"{'assunto': [{'principal': False, 'codigoNacio...",TRE-AC,"[{'identificadorMovimento': '423534', 'tipoRes...",G2
9,1601915771193,"{'assunto': [{'principal': False, 'codigoNacio...",TRE-AC,"[{'identificadorMovimento': '424167', 'tipoRes...",G2

### Dados Basicos

In [197]:
dados_basicos = pd.DataFrame([md for md in df.dadosBasicos])

In [198]:
dados_basicos1 = pd.DataFrame([md for md in dados_basicos.orgaoJulgador])

In [199]:
dados_basicos2 = pd.DataFrame([md for md in dados_basicos.assunto])

In [200]:
dados_basicos3 = pd.DataFrame([md for md in dados_basicos2[0]])

In [201]:
#dados_basicos4 = pd.DataFrame([md for md in dados_basicos2[1]])

In [202]:
all_json_dadosbasicos = pd.concat([
                            dados_basicos.drop(columns=['assunto', 'orgaoJulgador']), 
                            dados_basicos1, 
                            dados_basicos2.drop(columns=0), 
                            dados_basicos3
], axis=1).reset_index(drop=True)

In [203]:
all_json_dadosbasicos.head()

,dscSistema,tamanhoProcesso,numero,procEl,dataAjuizamento,totalAssuntos,classeProcessual,nivelSigilo,competencia,codigoLocalidade,nomeOrgao,codigoMunicipioIBGE,codigoOrgao,instancia,1,principal,codigoNacional
0,8,-1,00000258020006010000,2,20000113074300,1,1298,0,2,1200401,Gabinete do Jurista 2,1200401,78487,ORIG,None,False,11778
1,8,-1,00001262020006010000,2,20000117085100,1,11528,0,2,1200401,Gabinete do Juiz de Direito 1,1200401,78484,ORIG,None,False,11778
2,8,-1,00013277620026010000,2,20020502140400,1,11531,0,2,1200401,Gabinete do Juiz de Direito 1,1200401,78484,ORIG,None,False,12046
3,8,-1,00000537720026010000,2,20020706135900,1,11532,0,2,1200401,Gabinete do Jurista 2,1200401,78487,ORIG,None,False,12363
4,8,-1,00002182720026010000,2,20020706172100,1,11532,0,2,1200401,Gabinete do Jurista 1,1200401,78486,ORIG,None,False,12363

### Movimento

In [204]:
movimento = pd.DataFrame([md for md in df.movimento])

In [205]:
movimento1 = pd.DataFrame([md for md in movimento[0]])
movimento1.head(3)

,identificadorMovimento,tipoResponsavelMovimento,movimentoNacional,dataHora,orgaoJulgador,tipoDecisao
0,399179,0,{'codigoNacional': 11383},20000113074300,NaN,NaN
1,422485,0,{'codigoNacional': 11383},20000208061700,NaN,NaN
2,425961,0,{'codigoNacional': 11383},20020502140400,"{'nomeOrgao': 'Gabinete do Vice-Presidente', '...",NaN

In [206]:
movimento2 = pd.DataFrame([md for md in movimento1.movimentoNacional])
movimento2.head(3)

   codigoNacional
0           11383
1           11383
2           11383